<!DOCTYPE html>
<html lang="zh-Hant-TW">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
        />
        <meta name="theme-color" content="#006bb4" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta property="og:type" content="website" />
        <meta property="fb:app_id" content="1060402337367331" />

        <title>TODO標題</title>
        <meta property="og:title" content="TODO標題" />
        <meta name="twitter:title" content="TODO標題" />

        <meta name="description" content="TODO描述" />
        <meta property="og:description" content="TODO描述" />
        <meta name="twitter:description" content="TODO描述" />

        <link
            rel="shortcut icon"
            href="https://event.franklin.com.tw/commonResources/images/favicon.ico"
        />
        <link
            rel="apple-touch-icon"
            sizes="192x192"
            href="https://event.franklin.com.tw/commonResources/images/192x192.png"
        />

        <link rel="stylesheet" href="/css/normalize.css" />

        <style>
            /* 新增處style start */
            .banner-img {
                display: block;
                width: 100%;
                object-fit: cover;
            }
            /* 新增處style end */
        </style>

        <script src="https://event.franklin.com.tw/commonResources/js/vue-v2.min.js"></script>
    </head>
    <body>
        <!-- 新增處body start -->
        <picture>
            <source media="(max-width: 767px)" srcset="https://fakeimg.pl/720x1050/" />
            <img class="banner-img" src="https://fakeimg.pl/1920x770/" alt="" />
        </picture>
        <!-- 新增處body end -->
    </body>
</html>
