<!DOCTYPE html>
<html lang="zh-Hant-TW">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
        />
        <meta name="theme-color" content="#006bb4" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta property="og:type" content="website" />
        <meta property="fb:app_id" content="1060402337367331" />

        <title>TODO標題</title>
        <meta property="og:title" content="TODO標題" />
        <meta name="twitter:title" content="TODO標題" />

        <meta name="description" content="TODO描述" />
        <meta property="og:description" content="TODO描述" />
        <meta name="twitter:description" content="TODO描述" />

        <link
            rel="shortcut icon"
            href="https://event.franklin.com.tw/commonResources/images/favicon.ico"
        />
        <link
            rel="apple-touch-icon"
            sizes="192x192"
            href="https://event.franklin.com.tw/commonResources/images/192x192.png"
        />

        <link rel="stylesheet" href="css/normalize.css" />

        <style>
            .async-hide {
                opacity: 0 !important;
            }
            .block {
                margin: 24px 16px;
            }
            .title {
                font-weight: 700;
                font-size: 24px;
            }
            a {
                display: block;
                margin: 8px 0;
            }
        </style>

        <script src="https://event.franklin.com.tw/commonResources/js/vue-v2.min.js"></script>
    </head>
    <body>
        <div id="content">
            <div v-for="list of menuList" class="block">
                <div class="title">{{ list.title }}</div>
                <a v-for="item of list.content" :href="item.link">{{ item.text }}</a>
            </div>
        </div>

        <script>
            var content = new Vue({
                el: '#content',
                data() {
                    return {
                        menuList: [
                            {
                                title: 'header',
                                content: [
                                    {
                                        link: './components/header/index1.html',
                                        text: '一般header',
                                    },
                                    {
                                        link: './components/header/index2.html',
                                        text: 'header帶menu',
                                    },
                                ],
                            },
                            {
                                title: 'footer',
                                content: [
                                    {
                                        link: './components/footer/index.html',
                                        text: 'footer',
                                    },
                                ],
                            },
                            {
                                title: '滑動至頂Icon',
                                content: [
                                    {
                                        link: './components/goTop/index.html',
                                        text: '滑動至頂Icon',
                                    },
                                ],
                            },
                            {
                                title: '右側(下方)懸浮按鈕',
                                content: [
                                    {
                                        link: './components/floatBtn/index.html',
                                        text: '右側(下方)懸浮按鈕',
                                    },
                                ],
                            },
                            {
                                title: '右側(下方)懸浮動畫按鈕',
                                content: [
                                    {
                                        link: './components/floatAnimateBtn/index.html',
                                        text: '右側(下方)懸浮動畫按鈕',
                                    },
                                ],
                            },
                            {
                                title: '優惠組件',
                                content: [
                                    {
                                        link: './components/discount/index.html',
                                        text: '優惠組件',
                                    },
                                ],
                            },
                            {
                                title: '彈窗組件',
                                content: [
                                    {
                                        link: './components/modal/index.html',
                                        text: '彈窗組件',
                                    },
                                ],
                            },
                            {
                                title: 'Banner',
                                content: [
                                    {
                                        link: './components/banner/index.html',
                                        text: 'Banner',
                                    },
                                ],
                            },
                            {
                                title: '數字漸變組件',
                                content: [
                                    {
                                        link: './components/countTo/index.html',
                                        text: '數字漸變組件',
                                    },
                                ],
                            },
                        ],
                    };
                },
                methods: {
                    submit() {},
                },
            });
        </script>
    </body>
</html>
